*{
    padding: 0;
    border: 0;
    text-align: center;
}

#plan{
    display: block;
    width:70vw;
    height: auto;
    margin: auto;
}

.gantt_con{
    width: fit-content;
    height: fit-content;
    margin: auto;
    display: flex;
    align-items: flex-start
}

.gantt_con img {
    vertical-align: top;
    border: 2px solid lightgray;
    margin-right: 1vw;
    margin-right: 1vw;
}

.q_label{
    text-align: left;
}

li{
    text-align: left;
    display: block;
    margin:auto;
    max-height: fit-content;
    width: 50vw;
}

.crc{

    display: block;
    margin: auto;
    width: 50vw;
    height: auto;

}